version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          name: Build Docker image
          command: |
            docker build -t avas01/testing:v2 .
            docker push avas01/testing:v2

  deploy:
    docker:
      - image: bitnami/kubectl:latest
    steps:
      - checkout
      - run:
          name: Set up Kubeconfig
          command: |
            echo $KUBECONFIG > kubeconfig.yaml
            export KUBECONFIG=kubeconfig.yaml
      - run:
          name: Deploy using kubectl
          command: |
            kubectl apply -f deployment.yaml
            kubectl apply -f service.yaml

workflows:
  version: 2
  deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
